################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VulkanCppProgram1/v15
/VulkanCppProgram1/x64/Debug
/x64
/VulkanCppProgram1/VulkanCppProgram1.vcxproj.user
/VulkanCppProgram1/VulkanCppProgram1.vcxproj.filters
